@tailwind base;
@tailwind components;
@tailwind utilities;

.selected {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.delete {
  transition: all 0.1s ease-in-out;
}

.delete:hover {
  background-color: rgb(185, 30, 30);
}

.delete:active {
  background-color: rgb(153, 24, 24);
}

@media screen and (max-width: 850px) {
  .todoItem {
    margin-left: 50px;
    margin-right: 50px;
  }

  .todoForm {
    flex-direction: column;
    align-items: center;
  }

  .todoForm button {
    margin-top: 1.25rem;
  }
}
